body {
  margin: 0 auto;
  padding: 0;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
:root {
  --background: #fafafa;
  --card: #ffffff;
  --button: #0095f6;
  --text-blue: #72b1f6;
  --text-password: #3f6c92;
  --text-facebook: #385185;
  --ou: #90aacc;
  --line: #e9e9e9;
  --footer: #999999;
}

main {
  background: var(--background);
  width: 100%;
  height: 100vh;
}

.contanier {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-wrapper {
  width: 550px;
  height: 1000px;
  position: relative;
}

.background-phone,
.background-phone-2 {
  position: absolute;
  height: 800px;
  width: 375px;

  border-radius: 50px;
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center;

  z-index: 90;
}

.background-phone {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.background-phone-2 {
  right: 150px;
  top: 50%;
  transform: translateY(-53%);
  z-index: 20;
}

#phone-content img,
.phone-content-2 img {
  position: absolute;
  width: 350px;
  height: 720px;

  border-radius: 50px;
}

.phone-content-2 img {
  right: 160px;
  top: 50%;
  transform: translateY(-56%);
  z-index: 10;
}

#phone-content img {
  right: 15px;
  top: 50%;
  transform: translateY(-52%);
  z-index: 80;
  opacity: 0;
  border-radius: 50px;
  position: absolute;
  transition: opacity 1500ms;
}

#phone-content img.selected {
  opacity: 1;
}

.login-wrapper {
  margin-left: 50px;
  padding: 20px;
  width: 450px;
  text-align: center;
}

.card {
  margin-top: 10px;
  padding: 10px;
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 80%;
}

input {
  font-size: 11px;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 8px 8px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

button {
  font-size: 11px;
  width: 100%;
  margin-top: 15px;
  padding: 8px 0;
  border-radius: 3px;
  background: var(--button);
  color: white;
  border: none;
  cursor: pointer;
}

.ou {
  width: 80%;
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-area: 'line ou line2';
  align-items: center;
}

.line,
.line2 {
  background: var(--line);
  height: 1px;
}
.ou span {
  grid-area: 'ou';
  color: grey;
  font-size: 12px;
}

.line2 {
  grid-area: 'line2';
}
.line {
  grid-area: 'line';
}

.facebook {
  display: flex;
  width: 80%;
  margin: 20px auto 10px;
  color: var(--text-facebook);
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.password {
  display: block;
  color: #000;
  margin: 15px;
  font-size: 12px;
}

.card em {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: var(--button);
}

.aplicativos {
  margin-top: 15px;
  max-width: 400px;
  padding: 10px;
  text-align: center;
}

.logos {
  margin-top: 20px;
}

@media (max-width: 1090px) {
  .phone-wrapper {
    display: none;
  }
}

@media (max-width: 500px) {
  main {
    background: var(--card);
  }

  .card {
    border: none;
    margin: 0 auto;
  }
}
